
.container-box {
    display: flex;
    flex-direction: row;
    width: 90vw;
}

.panel {
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ;
}

.panel h3 {
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active {
    flex: 5;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: flex 0.7s;
}

.panel.active h3 {
    opacity: 1;
}


@media (max-width: 480px) {
    .container-box {
        width: 100vw;
    }
    .panel:nth-of-type(4), .panel:nth-of-type(5) {
        display: none;
    }
}
