#nav {
  margin-top: 10px;
  list-style-type: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  animation-name: slideInDown;
  animation-duration: 1s;
  animation-iteration-count: 1;
  transition: top 0.3s;
  top: 0;
  position: sticky;
  z-index: 9999;
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -120%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

@media only screen and (min-width: 1000px) {
  .nav-rounded {
    border-radius: 50px !important;
    width: 90%;
  }

  .nav-rounded img {
    margin-right: 20px;
    margin-left: 20px;
  }
}
